<!doctype html>
<html lang="ar">
<head>
<meta charset="utf-8">
<title>بوابة التدريب التعاوني</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
<img src="/static/header.jpg">
</div>

<div class="container">
<div class="card">

<h2>بوابة خطاب التوجيه</h2>

<form method="post">

<input name="trainee_id" placeholder="الرقم التدريبي" required>

<input name="phone_last4" placeholder="آخر 4 أرقام من الجوال" required>

<button type="submit">دخول</button>

</form>

{% if error %}
<p style="color:red">{{error}}</p>
{% endif %}

</div>
</div>

</body>
</html>
